{
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "process": true,
    "__dirname": true,
    "console": true
  },
  "rules": {
    "max-len": [2, 132, 2],
    "semi": [2, "never"]
  }
}
